body {
  font-family: sans-serif;
}
header {
  width: 100%;
  min-height: 200px;
}
/* Header */

#home {
  background: no-repeat white url(images/cliff_ocean.jpg);
  background-size: 100% 300px;
}

#cliffs {
  background: no-repeat white url(images/forest_cliff.jpg);
  background-size: 100% 300px;
}

#activities {
  background: no-repeat white url(images/runfly.jpg);
  background-size: 100% 300px;
}

#contact {
  background: no-repeat white url(images/cliff_rock.jpg);
  background-size: 100% 300px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    width: 100%;
    min-height: 275px;
  }
  #home {
    background-size: 100% 400px;
  }
  #cliffs {
    background-size: 100% 400px;
  }
  #activities {
    background-size: 100% 400px;
  }
  #contact {
    background-size: 100% 400px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    width: 100%;
    min-height: 300px;
  }
  #home {
    background-size: 100% 400px;
  }
  #cliffs {
    background-size: 100% 400px;
  }
  #activities {
    background-size: 100% 400px;
  }
  #contact {
    background-size: 100% 400px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header {
    width: 100%;
    min-height: 400px;
  }
  #home {
    background-size: 100% 500px;
  }
  #cliffs {
    background-size: 100% 500px;
  }
  #activities {
    background-size: 100% 500px;
  }
  #contact {
    background-size: 100% 500px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header {
    width: 100%;
    min-height: 500px;
  }
  #home {
    background-size: 100% 600px;
  }
  #cliffs {
    background-size: 100% 600px;
  }
  #activities {
    background-size: 100% 600px;
  }
  #contact {
    background-size: 100% 600px;
  }
}

/* Clock */
#timeofday {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(
    0deg,
    rgba(251, 215, 139, 1) 0%,
    rgba(118, 213, 245, 1) 100%
  );
}

/* Navigation */
.main-header {
  background-color: rgb(255, 255, 255, 0.8);
  width: 720px;
  margin: 2em auto 0 auto;
  min-height: 100px;
  height: 100px;
}

.main-header .logo img {
  width: 100px;
  height: 100px;
  margin: 0 2em 0 0;
  float: left;
}

.main-menu {
  margin-left: 227px;
  font-weight: 400;
}

.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1px solid rgba(202, 204, 202, 0.6);
  line-height: 100px;
  text-transform: uppercase;
  font-size: 14px;
}

.main-menu ul li a {
  text-decoration: none;
  color: #888;
}

.main-menu ul li a:hover {
  text-decoration: none;
  color: #9ed034;
}

.main-menu ul li.active {
  background: #9ed034;
  border: none;
}

.main-menu ul li.active a {
  color: #fff;
}

/* Custom styles for the navbar */
.navbar {
  background-color: rgba(
    38,
    41,
    61,
    0.7
  ) !important; /* Navbar background color */
}

.navbar .navbar-nav .nav-link {
  color: rgb(255, 255, 255) !important; /* Navbar text link color */
}

/* Change the color of active or hovered links */
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active,
.navbar .navbar-nav .nav-item.active .nav-link {
  color: rgb(
    200,
    200,
    200
  ) !important; /* Lighter shade for hover effect, can be customized */
}

/* Main */
main h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #9ed034;
}

/* Partners */
section {
  width: 100%;
  background-color: #4288c3;
}

section #partners {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

section #partners .partner {
  display: inline-block;
  margin: 0.75em;
  padding: 1.3em 1.5em;
  background-color: #fff;
  border-radius: 50%;
}

section #partners .partner img {
  width: 90px;
  height: 90px;
}

/* */
footer {
  width: 100%;
  height: 155px;
  padding-bottom: 1em;
  background-color: #ecfab8;
}

footer #nondisclaimer .copy {
  padding: 3.5em 3.5em 3.5em 13em;
  float: left;
  font-size: 0.9em;
}

footer #nondisclaimer .social {
  padding: 2.5em;
  margin-right: 9.25em;
  float: right;
}

footer #disclaimer {
  clear: both;
}

footer #disclaimer p {
  font-size: 0.85em;
  text-align: center;
}

footer #nondisclaimer .social .fa {
  padding: 15px;
  font-size: 15px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  margin: 0 4px;
  border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
  opacity: 0.7;
}

footer #nondisclaimer .social .fa-facebook {
  background: #3b5998;
  color: white;
}
footer #nondisclaimer .social .fa-twitter {
  background: #55acee;
  color: white;
}
footer #nondisclaimer .social .fa-instagram {
  background: #125688;
  color: white;
}

/* Activities */
table {
  width: 1000px;
  margin: 4em auto 4em auto;
}

caption {
  background: #852b1b;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}

thead {
  background: #bde1ff;
}

tbody {
  background: #eeffe6;
  text-align: center;
}

th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px D#852B1B;
}

th:first-child {
  width: 125px;
  height: 50px;
  background: #4977d1;
  color: #fff;
}
td:first-child {
  font-weight: bold;
  background: #bde1ff;
}

td.selected {
  background-color: #9ed034; /* Highlight color */
  color: white;
  font-weight: bold;
}

/* form container */
form {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
}
form fieldset {
  padding: 30px;
}
/* legend */
form fieldset legend {
  font-weight: bold;
  color: #4977d1;
}

/* text inputs */
form .textbox label {
  display: block;
  margin-bottom: 5px;
}

form .textbox input {
  padding: 8px;
  margin-bottom: 20px;
  width: 100%;
}

/* radio buttons */
form .radios label {
  margin-bottom: 5px;
}

form .radios input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 20px;
}

/* select menu */
form .selectmenu label {
  margin-bottom: 5px;
}

form .selectmenu select {
  padding: 8px;
  margin-bottom: 20px;
}

/* comment box */
form .commentbox label {
  display: block;
  margin-bottom: 5px;
}

form .commentbox textarea {
  height: 100px;
  padding: 8px;
  width: 100%;
}

/* Styling the button container */
form .button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* submit button */
form .button input[type="submit"] {
  background-color: #4977d1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* submit button on hover */
form .button input[type="submit"]:hover {
  background-color: #9ed034;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 80%;
  background-color: #ffffff;
  padding: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item h3 {
  margin-bottom: 10px;
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.gallery-item {
  margin-bottom: 10px;
  background-color: #852b1b;
  color: white;
}

#codes {
  display: inline;
  background-color: #d3d3d3;
}
